---
import Layout from '@/layouts/Docs.astro';

import Desc from '@/components/Desc/Desc';
import Card from '@components/Card.astro';
import Header from '@components/Header.vue';
import Footer from '@components/Footer.svelte';

const items = [
	{ href: '/docs/astro#/', title: 'Astro 文档', body: 'Astro 是一个集多功能于一体的框架' },
	{ href: '/docs/music', title: 'Music Api Docs', body: '网易云音乐 NodeJS 版 API' },
	{ href: 'https://blog-api.boycot.top/api-docs', title: '后台管理', body: 'Nestjs 全栈项目-后台管理API' },
	{ href: 'https://api.boycot.top/api-docs', title: '人网站api', body: '个人网站api接口文档' }
];
---
<Layout title="Astro 文档">
	<main>
		<Header client:load />
		<Desc client:load />
		<ul role="list" class="link-card-grid">
			{items.map(el => <Card
				title={el.title}
				href={el.href}
				body={el.body}
			/>)}
		</ul>
		<Footer client:visible />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
