---
// import List from '@/components/Solid/wallpaper.jsx';
import Layout from "@/layouts/Layout.astro";
import config from "@/config";
import { KContainer, KSpin } from "@ikun-ui/core";
// import ImageViewer from '@/components/ImageViewer/index.vue';
interface Props {
  [key: string]: string;
}
interface Params {
  [key: string]: string;
}
export function getStaticPaths() {
  return config.menus
    .filter((el) => el.micro && el.url)
    .map((item) => ({
      params: { type: item.type },
      props: { title: item.subTitle, url: item.url },
    }));
}
const spinOptions = {
  show: false,
  text: "loading...",
};
const handleSpin = () => {
  spinOptions.show = true;
  setTimeout(() => {
    spinOptions.show = false;
  }, 3000);
};
handleSpin();
console.log(Astro.props, "Astro.params");
---

<Layout title={`微应用-${Astro.props.title}`}>
  <KContainer cls="flex-col h-[100%] mx-auto max-w-[1920px]">
    <div @use:KSpin={spinOptions} style="width: 100%; height: 100%;">
      <iframe src={Astro.props.url} frameborder="0" width="100%" height="100%"
      ></iframe>
    </div>
  </KContainer>
</Layout>
<style></style>
