---
import Music from './[type]/index.astro';
import 'element-plus/dist/index.css';
import '@assets/less/index.less';
// const { redirect } = Astro;
// redirect('/music/netease')
---
<main>
	<Music></Music>
</main>

<style>
	main {
		min-width: 320px;
	}
</style>
