---
import Music from './music/[type]/index.astro';
// Astro.redirect('/music', 302)
---
<main>
	<Music></Music>
</main>
<!-- <!doctype html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>首页</title>
	</head>
</html> -->
<!-- <style>
	main {
	}
</style> -->
