---
import Music from './music/[type]/index.astro';
// Astro.redirect('/music', 302)
---
<main>
	<Music></Music>
</main>
<script is:inline>
	var _hmt = _hmt || [];
	(function () {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?a8df6f60267843325042be0c69d2f328";
		var s = document.getElementsByTagName("style")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>
<!-- <!doctype html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>首页</title>
	</head>
</html> -->
<!-- <style>
	main {
	}
</style> -->
