---
import "element-plus/dist/index.css";
import "@assets/less/index.less";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<script is:inline>
	var _hmt = _hmt || [];
	(function () {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?a8df6f60267843325042be0c69d2f328";
		var s = document.getElementsByTagName("style")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: var(--bg-dark);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
